* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  background: none;
}
ul {
  list-style: none;
}
body {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  line-height: normal;
  font-weight: 500;
}


input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}